/* ====> main page <==== */
body {
  /* background-image:url(https://media.gemini.media/img/large/2020/7/27/2020_7_27_12_12_38_107.jpg); */
  height: 100%;
  background-color: rgb(54, 58, 58);
  background-repeat: no-repeat;
}
/* ====> h <==== */
.title {
  color: #ffffff;
  font-size: 35px;
  font-family: cursive;
}
nav {
  /* background-color: rgb(95, 15, 55); */
  margin: 50px;
  font-family: cursive;
}
h1 {
  font-family: cursive;
}

/* ====> ul && li <==== */
ul{
  list-style-type: none;
}
li {
  float: right;
}
li a {
  display: flex;
  font-size: 25px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}
li a:hover {
  background-color: white;
  color: rgb(95, 15, 55);
  border-radius: 50px;
  text-decoration: black underline;
}

/*====> div <====*/
#navbar {
  /* border-left: 7px solid rgb(0, 0, 0); */
  border-bottom: 7px solid rgb(0, 0, 0);
  border-top: 7px solid rgb(255, 255, 255);
  background-color: rgb(95, 15, 55);
  border-radius: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
#rNavbar {
  position: relative;
}
#divwelcom {
  border-bottom: 7px solid rgb(0, 0, 0);
  border-top: 7px solid rgb(255, 255, 255);
  border-radius: 50px;
  color: rgb(255, 255, 255);
  background-color: rgb(95, 15, 55);
  width: 80%;
  height: 80%;
  margin-left: 10%;
  text-align: center;
  font-family: cursive;
}

/* ====> quiz page <==== */

.main {
  text-align: center;
  margin-top: 50px;
}
/* ====> div <==== */
#dpage {
  margin: 5%;
  display: block;
  text-align: center;
}
#danswers {
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin-left: 11%;
}
.answer {
  height: 100px;
  width: 200px;
  background-color: rgb(255, 255, 255);
  border-bottom: 7px solid #000;
  border-top: 7px solid rgb(95, 15, 55);
  padding: 20px;
  display: flex;
  font-size: 30px;
  border-radius: 50px;
  font-weight: bold;
}
#a {
  font-family: cursive;
  margin: 3%;
}
#b {
  font-family: cursive;
  margin: 3%;
}
#c {
  font-family: cursive;
  margin: 3%;
}
#d {
  font-family: cursive;
  margin: 3%;
}
#dquestion {
}
/* ====> p && button for all page <====*/
p {
  background-color: rgb(95, 15, 55);
  border-radius: 50px;
  border-top: 7px solid rgb(255, 255, 255);
  border-bottom: 7px solid rgb(0, 0, 0);
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: rgb(255, 255, 255);
  /* height: px; */
  margin-left: 10%;
  margin-right: 10%;
  padding: 25px;
  font-family: cursive;
}
button {
  height: 70px;
  width: 200px;
  border-radius: 50px;
  border-bottom: 7px solid rgb(0, 0, 0);
  border-top: 7px solid rgb(255, 255, 255);
  font-weight: bold;
  font-size: 20px;
  background-color: rgb(95, 15, 55);
  margin: 20px;
  font-family: cursive;
}
input {
  height: 40px;
  margin-right: 50px;
  font-weight: bold;
  font-size: 20px;
  border-top: 7px solid rgb(95, 15, 55);
  border-radius: 50px;
  border-bottom: 7px solid black;
  border-left: 7px solid white;
  border-right: 7px solid white;
  text-align: center;
  font-family: cursive;
}
/* ====> create  <==== */
/* ====> div <==== */
